language: python
python:
  - "3.4"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
  #- "pypy"
# command to install dependencies
install:
  - pip install .
  - pip install -r requirements.txt
script:
  - python run_tests.py
  - coverage run --source=run_tests.py
after_success:
  coveralls
